{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Gestion des congés
{% endblock %}


{% block body %}
	<div class="p-8">
		<div class="flex justify-between items-center mb-6">
			<h1 class="text-2xl font-bold text-gray-800">Gestion des congés</h1>
			<a href="{{ path('app_leave.create') }}" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300 flex items-center gap-2">
				<i class="fas fa-plus"></i>
				Créer nouveau
			</a>
		</div>

		<div class="bg-white rounded-xl shadow-sm overflow-hidden">
			<div class="overflow-x-auto">
				<table class="min-w-full divide-y divide-gray-200">
					<thead class="bg-gray-50">
						<tr>
							<th class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">Employée</th>
							<th class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">Motif
							</th>
							<th class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">Date de début</th>
							<th class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">Nombre de jours
							</th>
							<th class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">Status
							</th>
							<th class="px-6 py-3 text-left  font-medium text-gray-500 uppercase tracking-wider">Actions</th>
						</tr>
					</thead>
					<tbody class="bg-white divide-y divide-gray-200">
						{% for leave in leaves %}
							<tr class="hover:bg-gray-50 transition-colors">
								<td class="px-6 py-4 whitespace-nowrap  text-gray-900">{{ leave.employee.firstname ~ " " ~ leave.employee.lastname }}</td>

								<td class="px-6 py-4 whitespace-nowrap  text-gray-900">{{ leave.motif }}</td>

								<td class="px-6 py-4 whitespace-nowrap  text-gray-900">{{ leave.staredAt|date('Y-m-d') }}</td>
								<td class="px-6 py-4 whitespace-nowrap  text-gray-900">{{ leave.numberOfDay }}</td>
								<td class="px-6 py-4 whitespace-nowrap  text-gray-900">
									{% if leave.status == 'pending' %}
										<span class="px-2 py-1  font-medium rounded-full  bg-green-100 text-green-800">
											{{ leave.status|trans }}
										</span>
									{% elseif leave.status == 'approved' %}
										<span class="px-2 py-1  font-medium rounded-full  bg-yellow-100 text-yellow-800">

											{{ leave.status|trans }}
										</span>
									{% elseif leave.status == 'rejected' %}
										<span class="px-2 py-1  font-medium rounded-full  bg-red-100 text-red-800">
											{{ leave.status|trans }}
										</span>
									{% endif %}
								</td>

								<td class="px-6 py-4 whitespace-nowrap  space-x-2 flex items-center">
									<a href="{{ path('app_leave.edit', {'id': leave.id}) }}" class="text-green-600 hover:text-green-900 inline-flex items-center gap-1">
										<i class="fas fa-edit mr-2"></i>
									</a>
									{{ include('leave/_delete_form.html.twig') }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4" class="px-6 py-4 text-center text-gray-500">
									Aucun enregistrement trouvé
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
