<aside class="w-64 bg-gradient-to-br from-gray-800 to-blue-900 shadow-xl fixed left-0 h-full border-r border-gray-700 transition-all duration-300 z-50">
	<div class="p-6">
		<h2 class="text-white text-xl font-bold">RH<span class="text-blue-400">digit</span>
		</h2>
	</div>
	{% set current_path = app.request.get('_route') %}
	<nav class="mt-6 px-4">
		<div class="space-y-2">
			<a href="{{path('app_home') }}" class="flex items-center gap-3 px-4 py-3  {{ current_path == 'app_home' ? 'bg-blue-900/30 text-blue-300' : 'text-gray-300'}}  rounded-lg">
				<i class="fas fa-home h-5 w-5 "></i>
				<span class="font-medium">Dashboard</span>
			</a>
			<a href="{{ path('app_employee.index') }}" class="flex items-center gap-3 px-4 py-3 {{ current_path starts with 'app_employee.' ? 'bg-blue-900/30 text-blue-300' : 'text-gray-300'}} hover:bg-gray-800/30 hover:text-white rounded-lg transition-colors">
				<i class="fas fa-users h-5 w-5 text-gray-300"></i>
				<span class="font-medium">Employés</span>
			</a>
			<a href="{{ path('app_leave.index') }}" class="flex items-center gap-3 px-4 py-3 {{ current_path starts with 'app_leave.' ? 'bg-blue-900/30 text-blue-300' : 'text-gray-300'}} hover:bg-gray-800/30 hover:text-white rounded-lg transition-colors">
				<i class="fas fa-calendar-check h-5 w-5"></i>
				<span class="font-medium">Gestion de congé</span>
			</a>

			<a href="{{ path('app_departement.index') }}" class="flex items-center gap-3 px-4 py-3 {{ current_path starts with 'app_departement.' ? 'bg-blue-900/30 text-blue-300' : 'text-gray-300'}} hover:bg-gray-800/30 hover:text-white rounded-lg transition-colors">
				<i class="fas fa-building  h-5 w-5 text-gray-300"></i>
				<span class="font-medium">Département</span>
			</a>


			<a href="{{ path('app_contrat.index') }}" class="flex items-center gap-3 px-4 py-3 {{ current_path starts with 'app_contrat.' ? 'bg-blue-900/30 text-blue-300' : 'text-gray-300'}} hover:bg-gray-800/30 hover:text-white rounded-lg transition-colors">

				<i class="fas fa-file-contract h-5 w-5 "></i>
				<span class="font-medium">Contrat</span>
			</a>

			<a href="{{ path('app_poste.index') }}" class="flex items-center gap-3 px-4 py-3 {{ current_path starts with 'app_poste.' ? 'bg-blue-900/30 text-blue-300' : 'text-gray-300'}} hover:bg-gray-800/30 hover:text-white rounded-lg transition-colors">
				<i class="fas fa-briefcase h-5 w-5"></i>
				<span class="font-medium">Poste</span>
			</a>
		</div>

		<div class="absolute bottom-0 w-full left-0 p-4 border-t border-gray-700">
			<div class="flex items-center gap-3">
				<div class="rounded-full w-10 h-10 ring-2 ring-blue-400 bg-transparent flex items-center justify-center overflow-hidden">
					<svg class="w-6 h-6 text-gray-400" fill="none" stroke="currentColor" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
					</svg>
				</div>
				<div>
					<p class="text-white font-medium">{{ app.user.username }}</p>
					<p class="text-gray-400 ">{{ app.user.email }}</p>
				</div>
			</div>
		</div>
	</nav>
</aside>
